body{
    font-family:'Oswald', sans-serif;
    background-color:#f9f4eb;
}
h1 {
    text-align: center;
    margin-top: 15vh;
    font-size: 2.2rem;
}
header{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.795);
}  
.menu{
    margin-left: 60vw;
}
#title{
    margin-left: 40px;
    font-weight: bold;
    font-size: 1.5em;
}
header li{
    margin-left:0 40px;
    font: size 2px;
}
header i {
    margin-right: 15px;
}

header a {
    text-decoration: none;
    color: black;
}
.input{
    margin-bottom: 30px;
    margin-top: 30px;
    border-top: none;
    border-left: none;
    border-right: none; 
    background-color: transparent;
    border-bottom: 2px solid grey;
    letter-spacing: 2px;
}
#text{
    line-height: 150%;
    text-align: center;
}  
.blue{
    text-align: center;
    border: black;  
}   
.last{
    text-align: center;
    padding: 20px 0 0 0;
}

.button{
    text-align: center;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;    
}
.stay{
    text-align: center;
    margin-right: 15px;
}
.gras{
    text-align: center;
    font-weight: bold;
}
.end{
    text-align: center;
    font-weight: bold;
}
.forget{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}
#ok{
    border-radius: 20px;
    width: 90px;
    height: 30px;
    text-shadow: none;   
}
input[type=submit]:hover, input[type=reset]:hover {
    background-color:rgba(192, 120, 61, 0.637);
    }
   input[type=submit]:active, input[type=reset]:active {
    background-color:black;
    box-shadow:1px 1px 1px #D83F3D inset;
   }
input[type=submit]
{   background: black;
    color:white
}



    
