/* --- Specific text responsive --- */
/* X-Small devices (portrait phones) */
@media screen and (min-width: 576px) 
{
    #text, #tableau, table
    {
        font-size: 18px;
    }    
}
/* Small devices (landscape phones) */
@media screen and (min-width: 768px)
{
    #text, #tableau, table
    {
        font-size: 19px;
    }    
 
}
/* Medium devices (tablets) */
@media screen and (min-width: 1024px)
{
    #text, #tableau, table 
    { 
        font-size: 22px;
    }    

}
/* Large devices (desktops) */
@media screen and (min-width: 1300px) 
{
    #text, #tableau, table
    {
        font-size: 23px;
    }    
}
/* --- common part -- */
body
{
    margin: 0;
    font-family:'Oswald', sans-serif;
    background-image: url(https://cdn.discordapp.com/attachments/831063641075613758/831103215621636146/background-worldmap-BK.png);
}
header{
    background-color: rgba(255, 255, 255, 0.795);
}
#text
{ 
    /*PhB width : 50%;*/
    opacity: 0.75;
    border:1px solid rgb(187, 186, 186);
    margin:auto
}
#tableau
{
    padding: 2%;
    /* PhB width: 70%; */
    margin-left: 2%;
}
table
{
    text-align: center;
    table-layout: fixed;
    border-collapse : collapse;
    /* PhB width: 100%;*/
    width: 1O0%;
}
h1
{
    text-decoration: underline;
    margin-left: 12%;
}
td
{
    margin:auto
}
tbody tr:nth-child(odd) {
    background-color: #f6f3f0;
  }
  
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
thead tr
{
    background-color: #513834;
}
thead tr th
{
    color: white;
}
.bold
{
    font-weight:bold;
}
.color
{
    color : #bda28f
}
.orange
{
    color: #fa790b;
}
.green
{
    color: #87c53a;
}
.radius
{
    background-color: #fcdb1a;
    border-radius: 9px;
    padding: 5px;
}
td i
{
    padding-right: 5px;
}

  #title{
      margin-left: 40px;
      font-weight: bold;
      font-size: 1.5em;
      margin-top: 1vh;
  }